
<div class="container">
    
    <div class="bannerImg">
        <div class="txtBx">
            <h1>Amber Consumeries</h1>
        </div>
    </div>

    <h1 class="pgHeading">Contact Us</h1>

    <div class="contactsContain">
        <div class="contactTypes adrs">
            <i class="fa-solid fa-location-dot"></i>
            <h3>Address</h3>
            <p>Suite 11B, Pinnacle Pointe, 53 Lady Musgrave Rd, Kingston</p>

        </div>
        <div class="contactTypes phone">
            <i class="fa-solid fa-phone"></i>
            <h3>Phone Number</h3>
            <p>+1 (876) 616-7661</p>
        </div>
        <div class="contactTypes email">
            <i class="fa-solid fa-envelope"></i>
            <h3>Email</h3>
            <p>info@myamberinnovations.com</p>
        </div>
        <div class="contactTypes hours">
            <i class="fa-solid fa-clock"></i>
            <h3>Opening Hours</h3>
            <p>Monday - Friday</p>
            <p>8:30am - 5:30pm</p>
        </div>
    </div>

    <div class="flexBx">
        <div class="left">
            <h1>We are Here</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2631.1440591616!2d-76.78159406538686!3d18.013545434569373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb3f019bf52795%3A0x1f2c67973594a4b7!2sAmber%20Innovations%20Limited!5e0!3m2!1sen!2sjm!4v1656360009405!5m2!1sen!2sjm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="right">
            <h1>Leave a message</h1>
            <form action="">
                <div class="inptBx">
                    <input type="text" name="sender" id="sender" placeholder="Enter your Name">
                </div>
                <div class="inptBx">
                    <input type="email" name="senderEmail" id="senderEmail" placeholder="Enter your Email Address">
                </div>
                <div class="inptBx">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Enter your Message"></textarea>
                </div>

                <button type="submit" class="subBtn">SEND</button>
            </form>
        </div>
    </div>

</div>
